:root {
    --monospace-font: Consolas, 'Courier New', monospace;

    /* Saturated*/
    --colorA1: hsl(116, 29%, 50%);
    --colorA2: hsl(183, 99%, 37%);
    --colorA3: hsl(28, 96%, 56%);
    --colorA4: hsl(359, 94%, 65%);

    /* Tropical tones */
    --colorB1: hsl(165, 71%, 42%);
    --colorB2: hsl(43, 82%, 53%);
    --colorB3: hsl(359, 86%, 62%);
    --colorB4: hsl(136, 64%, 29%);

    /* Earthy and fresh */
    --colorC1: hsl(357, 23%, 47%);
    --colorC2: hsl(111, 7%, 40%);
    --colorC3: hsl(6, 49%, 46%);
    --colorC4: hsl(0, 0%, 24%);

    /* Stormy hues */
    --colorD1: hsl(230, 18%, 35%);
    --colorD2: hsl(332, 8%, 56%);
    --colorD3: hsl(344, 24%, 48%);
    --colorD4: hsl(218, 32%, 20%);

}

*, *::after, *::before {
    box-sizing: border-box;
    user-select: none;
}

body::-webkit-scrollbar {
    display: none;
  }

body {
    margin: 0;
}

body.dark {
    background-color: black;
}

header {
    text-align: center;
    width: 100%;
    position: sticky;
    margin: 0;
    top: 0;
    background: white;
    z-index: 1;
    font-family: var(--monospace-font);
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.12), 
                0 8px 8px rgba(0,0,0,0.12),
                0 16px 16px rgba(0,0,0,0.12);
}

body.dark > header {
    background: black;
    color: white;
}

header > h2 {
    margin-top: 0;
    padding-top: 10px;
}

#notes-icon, #theme-icon {
    position: absolute;
    top: 0;
    padding: 8px;
    cursor: pointer;
    background: hsl(0, 0%, 70%);
}

header .icon:nth-last-of-type(2) {
    border-radius: 0 0 15px 15px;
    right: 43px;
}

header .icon:nth-last-of-type(1) {
    border-radius: 0 0 0 15px;
    right: 0;
}

#notes-icon:hover, #theme-icon:hover {
    filter: brightness(1.2);
}

#timers {
    overflow: overlay;
}

#totalTime {
    box-shadow: inset 0px -13px 8px 0px black;
    background-color: #272727;
    color: white;
    height: fit-content;
    padding: 3px;
}

.row {
    display: -webkit-box;
    width: 100%;
    font-size: 2rem;
    cursor: pointer;
}

.row:not(.end-countdown):hover {
    filter: brightness(1.2);
}

.row * {
    padding: 10px;
}

.timer-label {
    position: relative;
    width: calc(100vw - var(--timer-width));
    background-color: var(--color);
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid white;
    overflow-wrap: break-word;
    hyphens: auto;
}

body.dark .timer-label {
    border-bottom-color: black;
}

.row:last-of-type .timer-label {
    border-bottom: 0;
}

div:not(.start-countdown):not(.end-countdown) > .timer-label::before {
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 5px;
}

div:not(.start-countdown):not(.end-countdown) > .timer-label.user1::before {
    background-image: url(../img/profile1.svg);
}

div:not(.start-countdown):not(.end-countdown) > .timer-label.user2::before {
    background-image: url(../img/profile2.svg);
}

div:not(.start-countdown):not(.end-countdown) > .timer-label:is(.teleprompter, .note)::after {
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 5px;
}

div:not(.start-countdown):not(.end-countdown) > .timer-label.teleprompter::after {
    background-image: url(../img/monitor_white_24dp.svg);
}

div:not(.start-countdown):not(.end-countdown) > .timer-label.note::after {
    background-image: url(../img/notes_white_24dp.svg);
}

.progress, .progress > div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.progress {
    background-color: white;
    border-bottom: 1px solid white;
    box-sizing: content-box;
    overflow: hidden;
    width: 0;
    padding: 0;
}

body.dark .progress {
    border-bottom-color: black;
}

body.dark .end-countdown .progress {
    background-color: black;
}

.row:last-of-type .progress {
    border-bottom: none;
}

.start-countdown .progress {
    animation: timer-row var(--time) linear 0s 1 forwards;
}

.end-countdown .progress {
    width: 100%;
}

.end-countdown .progress > div {
    color: black;
}

body.dark .end-countdown .progress > div {
    color: white;
}

.progress > div {
    color: var(--color);
    width: calc(100vw - var(--timer-width));
}

.countdown {
    text-align: center;
    background-color: black;
    color: white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    font-family: var(--monospace-font);
}

body.dark .countdown {
    border-left-color: black;
    border-bottom-color: black;
}

.end-countdown .countdown {
    display: none;
}

.row:last-of-type .countdown {
    border-bottom: 0;
}

.row:nth-child(4n+1) {
    --color: var(--color1);
}

.row:nth-child(4n+2) {
    --color: var(--color2);
}

.row:nth-child(4n+3) {
    --color: var(--color3);
}

.row:nth-child(4n+0) {
    --color: var(--color4);
}

@keyframes timer-row {
    to {
        width: 100%;
    }
}