*, *::after, *::before {
    box-sizing: border-box;
    user-select: none;
}

body::-webkit-scrollbar {
    display: none;
  }

body {
    margin: 0;
}

header {
    text-align: center;
    width: 100%;
    position: sticky;
    margin: 0;
    top: 0;
    background: white;
    z-index: 1;
    font-family: Consolas, 'Courier New', monospace;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.12), 
                0 8px 8px rgba(0,0,0,0.12),
                0 16px 16px rgba(0,0,0,0.12);
}

header > h2 {
    margin-top: 0;
    padding-top: 10px;
}

#notes-icon {
    position: absolute;
    background: dodgerblue;
    right: 0;
    top: 0;
    padding: 10px;
    border-radius: 0 0 0 15px;
}

#notes-icon:hover {
    filter: brightness(1.2);
}

#timers {
    overflow: overlay;
}

#totalTime {
    box-shadow: inset 0px -13px 8px 0px black;
    background-color: #272727;
    color: white;
    height: fit-content;
    padding: 3px;
}

.row {
    display: -webkit-box;
    width: 100%;
    font-size: 2rem;
    cursor: pointer;
}

.row:not(.end-countdown):hover {
    filter: brightness(1.2);
}

.row * {
    padding: 10px;
}

.timer-label {
    position: relative;
    width: calc(100vw - var(--timer-width));
    background-color: var(--color);
    color: white;
}

.progress, .progress > div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.progress {
    background-color: white;
    overflow: hidden;
    width: 0;
    padding: 0;
}

.start-countdown .progress {
    animation: timer-row var(--time) linear 0s 1 forwards;
}

.end-countdown .progress {
    width: 100%;
}

.end-countdown .progress > div {
    color: black;
}

.progress > div {
    color: var(--color);
    width: calc(100vw - var(--timer-width));
}

.countdown {
    text-align: center;
    background-color: black;
    color: white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    font-family: Consolas, 'Courier New', monospace;
}

.end-countdown .countdown {
    display: none;
}

.row:last-of-type .countdown {
    border-bottom: 0;
}

.row:nth-child(4n+1) {
    --color: hsl(116, 29%, 50%);
}

.row:nth-child(4n+2) {
    --color: hsl(183, 99%, 37%);
}

.row:nth-child(4n+3) {
    --color: hsl(28, 96%, 56%);
}

.row:nth-child(4n+0) {
    --color: hsl(359, 94%, 65%);
}

@keyframes timer-row {
    to {
        width: 100%;
    }
}