.pie input {
    border: none;
    background: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    text-decoration: underline;
}

.pie input::-webkit-outer-spin-button,
.pie input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.pie input:focus {
    outline: none;
}

.pie .separator {
    font-weight: bold;
}