body {
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
}

#app {
    font-family: Consolas, 'Courier New', monospace;
    font-size: 2rem;
    height: -webkit-fill-available;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: black;
    color: white;
    padding: 20px 0 20px 20px;
}

#app.scrolling {
    padding-right: 20px;
}

#app::-webkit-scrollbar {
    width: 20px;
}

/* Track */
#app::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
/* Handle */
#app::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: white;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#app.scrolling::-webkit-scrollbar {
    display: none;
}

#app pre {
    white-space: pre-wrap;
    margin: 0;
    padding-bottom: 100%;
}

