body {
    box-sizing: border-box;
    height: calc(100vh - 20px);
    margin: 0;
    font-family: Consolas, 'Courier New', monospace;
}

#app {
    font-size: 2rem;
    height: -webkit-fill-available;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: black;
    color: white;
    padding: 20px 0 20px 20px;
}

#app.scrolling {
    padding-right: 20px;
}

#app::-webkit-scrollbar {
    width: 20px;
}

/* Track */
#app::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
/* Handle */
#app::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: white;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#app.scrolling::-webkit-scrollbar {
    display: none;
}

#app pre {
    white-space: pre-wrap;
    line-height: 200%;
    margin: 0;
    /* This works for now, but if the teleprompter does
    not take up the whole screen height, then we're in trouble */
    padding-bottom: 100vh;
}

footer {
    height: 19px;
    text-align: center;
    font-size: 15px;
    background: black;
    color: #4CAF50;
    border-top: 1px solid white;
}